/* For SamToki.github.io */

/* Header */
.Title {
	width: 340px;
}
.Title a {
	background-image: url(images/Title.png);
}
nav {
	width: 720px;
}
nav .Ctrl {
	width: calc(100% / 6);
}

/* Main */
	/* Home */
	#Linkbtn_HomePersonalSpaceBangumi:hover {
		background-color: #F09199;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceBilibili:hover {
		background-color: #00A1D6;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceZhihu:hover {
		background-color: #056DE8;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceGitHub:hover {
		background-color: #1F2328;
		color: #FFFFFF;
	}

	/* Recommended Works & Toy Store */
	.Item.Gallery .CoverImage {
		width: 100%;
	}
	.Item.Gallery .CtrlGroup {
		margin: 10px -10px 0 0;
		justify-content: left;
	}
	.Item.Gallery .Ctrl {
		width: calc((100% - 30px) / 3); margin: 0 10px 10px 0;
	}

	/* Self Introduction */
	.Prolog {
		width: auto;
	}

/* Responsive Web Design */
@media (max-width: 1150px) {
	.Title {
		width: 40px;
	}
	nav {
		width: calc(100% - 70px);
	}
	.Item.Gallery {
		margin: 0 10px 30px 10px;
	}
}
