/* For SamToki.github.io */
	/* This is a theme variant, so only colors along with few things are configured. */

/* Main */
	/* Home */
	#Linkbtn_HomePersonalSpaceBangumi:hover {
		background-color: #F09199;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceBilibili:hover {
		background-color: #00A1D6;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceZhihu:hover {
		background-color: #056DE8;
		color: #FFFFFF;
	}
	#Linkbtn_HomePersonalSpaceGitHub:hover {
		background-color: #1F2328;
		color: #FFFFFF;
	}
